---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import { urls, addresses } from '../components/Constants';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | PoKing" description="PoKing, a sol memecoin moonshot $AF ðŸ¸ðŸš€">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Enjoy the tale of the potato kingdom."
			>
				<img
					width="1553"
					height="873"
					src="/assets/pking/king_minons.png"
					alt="PoKing at work with a colleague"
				/>
			</Hero>
			<section>
				<h2 class="section-title">Launch</h2>
				<div class="content">
					<p>We locked 91% of total token supply in our <a href={urls.launchpad}> pre-sale </a> on via Solanapad. 51% of proceeds are going to the initial Liquity Pool which is completely burned. All tokens not purchased during presale are also burned.</i></p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Address</h2>
				<div class="content">
					<p><a href={urls.explorer}>{addresses.token}</a>, which is fully renounced. No updates can be made and more tokens can be minted.</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Socials</h2>
				<div class="content">
					<p>Telegram: <a href={urls.telegram}>{urls.telegram}</a></p>
					<p>Twitter: <a href={urls.twitter}>{urls.twitter}</a></p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Telemetry</h2>
				<div class="content">
					<p><a href={urls.dexscreener}>Dexscreener</a> and <a href={urls.birdeye}>Birdeye</a> charts along with Rugcheck's <a href={urls.rugcheck}>report</a>. </p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Liqudity</h2>
				<div class="content">
					<p>All of the initiality LP tokens have been <a href=https://solscan.io/tx/4e4v2gaEMTZcvrismZRmS9sVaN478oZ7kaLxvL3SQ6Zau1Jqa4aU5VgtmASpuEj1RNnhirFam2p4tk4q38VycAoW>burned</a>.
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Motivation</h2>
				<div class="content">
					<p>Who doesn't love being their own PoKing? Join the movement.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>